* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
--font-leckerli: "Leckerli One", cursive; 
--font-family-baloo: "Baloo 2", sans-serif;
--font-family: "Open Sans", sans-serif;

--logo: var(--font-leckerli);

--heading-md: 700 1.75rem/160% var(--font-family-baloo);
--heading-sm: 700 1.125rem/160% var(--font-family-baloo);

--text-logo: 300 1rem/160% var(--font-family);
--body-md: 400 1rem/160% var(--font-family);
--body-sm: 400 14px/160% var(--font-family);
--body-xs: 400 12px/160% var(--font-family);

--brand-light: #59B2FF;
--brand-mid: #3487CF;
--brand-dark: #1D6FB6;

--danger:#FF5959;

--input-base: #1C1F21;
--input-stroke:#363B40;
--input-placeholder:#869198;

--shape-background:#131516;
--shape-body: #212427;
--shape-button: #2D3136;
--shape-hover: #383D42;

--text-body: #C8CDD0;
--text-heading: #F9F9F9;
}

body {
  overflow: hidden;
  background-color: var(--shape-background);
  font: var(--body-md);
  color: var(--text-body);
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}